:root {
    --primary-color: #0EDE73;
}

* {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

.btn {
    text-transform: uppercase;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:focus {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.text-primary {
    color: var(--primary-color);
}